<ul class="author-list">
	{% assign author_name = include.author | split: "," %}
	{% assign writers = site.data.authors[include.author] %}
	{% assign author_name_size = author_name | size %}

	{% if author_name_size > 1 %}

	Do not support multiple authors.

	{% else%}

		<li class="author-list-item">
			{% if site.tooltip %}
				<div class="author-name-tooltip">
					{{ writers.name }}
				</div>
			{% endif %}
			{% assign writers_image = writers.image | slice: 0, 5 %}
			{% if writers_image == "https" %}
				<a href="/author/{{ writers.user_name }}/" class="static-avatar">
					<img class="author-profile-image" src="{{ writers.image }}" alt="{{ writers.name }}" />
				</a>
				{% unless site.tooltip %}
				<span class="author-profile-name">
					<a href="/author/{{ writers.user_name }}/">{{ writers.name | truncate: 15 }}</a>
				</span>
				{% endunless %}
			{% else %}
				<a href="/author/{{ writers.user_name }}/" class="static-avatar author-profile-image">
					<img src="{% include icons/avatar.svg %}" alt="{{ writers.name }}">
				</a>
				{% unless site.tooltip %}
					<span class="author-profile-name">
						<a href="/author/{{ writers.user_name }}/">{{ writers.name | truncate: 15 }}</a>
					</span>
				{% endunless %}
			{% endif %}
		</li>

	{% endif %}


</ul>