{% assign writer = site.data.authors[page.author] %}
<section class="author-card">
  {% assign writer_image = writer.image | slice: 0, 5 %}
  {% if writer_image == "https" %}
    <img class="author-profile-image" src="{{writer.image}}" alt="{{writer.name}}"/> 
    {% else %}
    <span class="avatar-wrapper">
      {% include icons/avatar.svg %}
    </span>
  {% endif %}
  <section class="author-card-content">
    <h4 class="author-card-name">
      <a href="/author/{{writer.user_name}}">{{writer.name}}</a>
    </h4>
    {% if writer.bio %}
      <p>{{writer.bio}}</p>
    {% else %}
      <p>Read <a href="/author/{{writer.user_name}}">more posts</a> by this author.</p>
    {% endif %}
  </section>
</section>
<div class="post-full-footer-right">
  <a class="author-card-button" href="/author/{{writer.user_name}}">Read More</a>
</div>